
h1{
    text-align:$txt-align2;
	margin-top: 2%;
	color:$prm_color3;
	&:hover{
		color:$prm_color1;
	}
}
#h1{
    color:$prm_color3;
    margin-top:5%;
    &:hover{
        color:$prm_color1;
    }
}
#h2{
    color:$prm_color3;
    margin-top:5%;
    margin-bottom:5%;
    &:hover{
        color:$prm_color1;
    }
}
h3{
    text-align:$txt-align2;
	font-family: $font-style1;
	font-weight: $ft-wgt1;
	color:$prm_color3;
	margin-top: 2%;
	&:hover{
		color:$prm_color1;
	}
}
h5{
    text-align:$txt-align2;
	font-family: $font-style1;
	font-weight: $ft-wgt1;
	color:$prm_color3;
	margin-top: 2%;
	&:hover{
		color:$prm_color1;
	}
}
