@import "variables";

@import "form";

@import "container";

@import "heading";

@mixin contcent{
	display: block;
	margin: auto;
}
//for complete web
body{
	background-color:white;
}
#header{
	background: linear-gradient(50deg, lightgray 50%, yellow 0%);
}
#logbox{
	border: px solid $bdr-color1;
	margin-left: 1%;
	width: auto;
	height: auto;
	img{
		margin-bottom: 1%;
	}
}
#logo1{
	border: px solid $bdr-color1;
	width: 80px;
	height: 60px;
	@include contcent;
}
#navbar{
	border: px solid $bdr-color1;
	height:auto;
	margin-left: 1%;
	width: 59%;
}
#nav1{
	border: 1px solid $bdr-color3;
	@include contcent;
	height:60px;
	ul {
		list-style-type: none;
		margin-left: 0%;		
		li {
			float: left;
			height: auto;
			margin: 1%;
			margin-left: 2%;
			margin-top: 3%;
			a{
				border: px solid $bdr-color1;
				text-decoration: none;
				color:$prm_color3;

				font-weight:$ft-wgt1;
				&:hover {
					color:$prm_color1;
				}
			}
		}	
	}
	  /* Change the link color to #111 (black) on hover */	  
}
#search{
	border: px solid $bdr-color1;
	height: 100%;
	width: 27%;
	margin-left: 1%;
	input{
		width: 80%;
		height: 100%;
		margin-top:6%;
		border-radius:$bdr-rds2;
		border: 1px solid $bdr-color3;
	}
}
#ficon{
	width: 20px;
	height: 20px;
	&:hover{
		margin-top: -2%;
		width: 23px;
		height: 23px;			
	}
}
#marquee{
	border: px solid $bdr-color1;
	font-weight:$ft-wgt1;
	width: 90%;
	margin: 1%;
	margin-left: 5%;
}
.bgvid{
	width: 97%;
	height: 97%;
	margin-left: -48%;
	position: absolute;
	z-index: -1;
}
#msgmsanj{

	@include contcent;
	p{
		&:hover{
			color:$prm_color1;

		}
	}
}
.dropdown{
	margin-top:5%;
	a{
		font-weight:$ft-wgt1;
		margin-bottom:5%;
	}
}

.studymaterial{
	border: px solid $bdr-color1;
	border-radius:$bdr-rds1;
	margin:auto;
	margin-top: 1%;
	&:hover{
		box-shadow:$bdr-shdw2;
	}

}
#footer{
	@extend #basic_cont;
	margin-top: 2%;
}

@media screen and (max-width: 991px) {
	#cont_nav{
		width:100%;
		height: 95px;
	}
	#logbox{
		width: 15%;
		@include contcent;		
	}
	#navbar{
		width: 80%;
		@include contcent;
		#nav1{
			ul{
				li{
					margin-left:1%;
					a{
						
					}
				}
			}
		}
	}
	#search{
		width: 100%;
		@include contcent;
		input{
			width: 90%;
			margin-top: 0%;
		}		
	}
}

@media screen and (max-width: 767px) {
	#cont_nav{
		width:100%;
		height: 280px;
	}
	#logbox{
		width:100%;
		@include contcent;		
	}
	#navbar{
		width: 100%;
		@include contcent;
		#nav1{
			ul{

				li{
					width: 100%;
					height: 30px;
					margin-top: 0%;
					a{
						border: 1px solid $prm_color3;
						width: 64%;
						height: 30px;
						margin-left: -35%;
						border-radius:$bdr-rds1;
						position: absolute;
						&:hover{
							background-color: $prm_color2;
							border: 1px solid $prm_color1;
							box-shadow:$bdr-shdw2;
						}	
					}
				}
			}
		}
	}
	#search{
		width: 100%;
		@include contcent;
		input{
			width: 90%;
			margin-top: 0%;
		}		
	}
}
